body {
    background-color: deeppink;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: yellow;
    font-weight: bold;
    font-size: 40px;
    animation: fontSizeChange 0.5s infinite;
}

#carasorrindo {
    max-width: 100px;
}

@keyframes fontSizeChange {
    0% {
        font-size: 40px;
    }
    50% {
        font-size: 60px;
    }
    100% {
        font-size: 40px;
    }
}

#gradient {
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 350px;
    width: fit-content;
    padding: 10px;  
    background: linear-gradient(to right, #00ff0d, #ff0000, #001eff);
}

#parabens {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 1;
    right: 0;
    width: 300px;
    height: 300px;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    background-color: red;
    background-image: url('parabens.gif');
    gap: 10px;
}
